:root { 
    --text-color: #212121
    }
    :root { 
    --text-color2: #757575
    }
    :root { 
    --text-color3: #FFFFFF
    }
    :root { 
    --logo-color: #000000
    }
    :root { 
    --section-color: #2F303A
    }
    :root { 
    --section-color2: #ECECEC
    }
    :root { 
    --section-color3: #F5F4FA
    }