  $logo-color2: #2196f3;
  $text-color: #212121;
  $text-color2: #757575;
  $text-color3: #ffffff;
  $logo-color: #000000;
  $section-color: #2f303a;
  $section-color2: #ececec;
  $section-color3: #f5f4fa;
  $address-color: #ffffff99;
  $icon-color: #afb1b8;